/*------------*/
/**/
/**/
:root {
  --c-primary: #3ea8ff;
  --c-primary-darker: #0f83fd;
  --c-body: #000000d1;
  --c-body-content: #3e3f48;
  --c-gray: #93a5b1;
  --c-gray-lighter: #acbcc7;
  --c-gray-darker: #6e7b85;
  --c-gray-border: #d6e3ed;
  --c-gray-border-lighter: #5c93bb2b;
  --c-base-bg: #fff;
  --c-primary-bg: #edf2f7;
  --c-primary-bg-darker: #c6d5e2;
  --c-primary-bg-lighter: #f1f5f9;
  --c-primary-bg-lightest: #eff6fb99;
  --c-blue-bg: #e0efff;
  --c-blue-bg-lighter: #e6f2ff;
  --c-contrast: #1b1b1d;
  --c-error: #ff6868;
  --c-error-bg: #fff0f0;
  --c-like: #f76685;
  --c-like-bg: #ffeaf4;
  --c-idea: #807aff;
  --c-idea-bg: #e8ebff;
  --c-closed-bg: #545c77;
  --c-focus-shadow: #bfdcff;
  --font-base: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
  --font-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace, "Segoe UI Emoji";
  --font-latin-hero: "Inter", "BlinkMacSystemFont", Arial, sans-serif;
  --header-height: 62px;
  --base-border-radius: 6px;
}

* {
  -webkit-appearance: none;
  /*webkit系のスタイルをリセット*/
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: var(--c-base-bg);
  font-family: monospace;
}

body ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body ::-webkit-scrollbar-track {
  background: #f1f2f3;
}

body ::-webkit-scrollbar-thumb {
  background: #c1cddf;
  border-radius: 4px;
}

input[type="button"],
button {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  max-width: 70vw;
}

h1,
h2 {
  border-bottom: 1px solid var(--c-blue-bg);
  margin: 2.0rem auto 1.5rem auto;
}

h3,
h4 {
  margin: 0 auto;
}


/*----*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

section {
  margin: 2.0rem auto;
}

@keyframes open_margin {
  0% {
    margin: -20px;
    z-index: 9999;
  }

  100% {
    margin: 0 2px;
  }
}

/*--tempcard--*/
.tempcard_outline,
#tempcard_btn_outline,
.btn_block {}

.tempcard_outline {
  margin: 10px auto;
  display: flex;
  max-width: 1000px;
}

.tempcard {
  padding: 16px 18px;
  margin: 20px 10px;
  font-size: 14px;
  background: var(--c-base-bg);
  border-radius: var(--base-border-radius);
  width: 30vw;
  max-width: 300px;
}

.tempcard_head {
  padding-bottom: 12px;
}

.tempcard textarea {
  border: none;
  border-radius: var(--base-border-radius);
  padding: 8px 10px;
  background: var(--c-blue-bg);
  width: 92%;
}

.tempcard_foot {
  padding-top: 12px;
}

#tempcard_btn_outline {
  margin: 0 auto;
  width: 50vw;
}

.btn_block {
  text-align: center;
  margin: 10px;
}

.btn_block input {
  width: 8vw;
  max-width: 100px;
  padding: 4px;
  height: 28px;
  background: var(--c-base-bg);
  border-radius: 6px;
}

/*--search--*/
#city_outline {
  display: flex;
  justify-content: center;
}

.map_wire {
  width: 80px;
  margin: 0 0.5px 0 0.5px;
}

.ss_buttons {
  cursor: pointer;
  font-weight: bold;
  background: rgb(35, 201, 159);
  border-radius: 2px;
  padding: 0px;
  color: white;
  margin: 1px;
  padding: 2px 5px;
  text-align: center;
  width: 28px;
  height: 18px;
  line-height: 19px;
}

.color_green {
  background: rgb(34, 168, 57);
}

.color_blue {
  background: rgb(41, 167, 225);
}

.color_bluegreen {
  background: rgb(14, 161, 153);
}

.color_lightgreen {
  background: rgb(143, 193, 32);
}

.color_orange {
  background: rgb(247, 182, 40);
}

.color_red {
  background: rgb(229, 79, 20);
}

.color_pink {
  background: rgb(238, 155, 183);
}

.color_hevyred {
  background: rgb(218, 124, 60);
}

.s_city_enter {
  background: rgb(15, 209, 160);
}



/*--master--*/
#master_tables_outline {
  display: flex;
  justify-content: center;
}

.master_table {}

/*---

---*/
.AppHeader_header__0obie {
  background: var(--c-base-bg);
  color: var(--c-body)
}

/**/
.Container_wide__i6D5f {
  max-width: 1200px
}

.Container_common__bSTKj {
  margin: 0 auto;
  padding: 0 40px
}

@media screen and (max-width:992px) {
  .Container_common__bSTKj {
    max-width: 100%
  }
}

@media screen and (max-width:768px) {
  .Container_common__bSTKj {
    padding: 0 25px
  }
}

@media screen and (max-width:576px) {
  .Container_common__bSTKj {
    padding: 0 20px
  }
}

@media screen and (max-width:400px) {
  .Container_common__bSTKj {
    padding: 0 14px
  }
}

/**/
.AppHeader_inner__Nqogt {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}


/**/
.AppHeader_homeLink__sgij0 {
  height: var(--header-height);
  padding: 3px 0;
  position: relative;
  display: flex;
  align-items: center;
}

/**/
@keyframes FadeIn_fadeIn__O8JSZ {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.FadeIn_fadeIn__O8JSZ {
  animation: FadeIn_fadeIn__O8JSZ .3s ease-in
}

/**/
.AppHeader_actionsArea__XPo58 {
  display: flex;
  align-items: center
}

/**/
.AppHeader_searchLink__z70oa {
  display: flex;
  align-items: center;
  color: var(--c-gray-darker);
}

.AppHeader_searchLink__z70oa:hover {
  color: var(--c-body)
}

/**/
/**/
/**/
/**/
.View_container__a1 {
  background: var(--c-primary-bg);
  padding-top: 0.5rem;
  padding-bottom: 4rem;
}

/*--footer--*/
.Container_common__bSTKj {
  margin: 0 auto;
  padding: 0 40px
}

@media screen and (max-width: 992px) {
  .Container_common__bSTKj {
    max-width: 100%
  }
}

@media screen and (max-width: 768px) {
  .Container_common__bSTKj {
    padding: 0 25px
  }
}

@media screen and (max-width: 576px) {
  .Container_common__bSTKj {
    padding: 0 20px
  }
}

@media screen and (max-width: 400px) {
  .Container_common__bSTKj {
    padding: 0 14px
  }
}


.AppFooter_footer___WHPZ {
  padding: 3rem 0 0;
  background: var(--c-base-bg)
}

.Container_wide__i6D5f {
  max-width: 1200px
}


.AppFooter_grid__wyHZb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3%
}

@media screen and (max-width: 768px) {
  .AppFooter_grid__wyHZb {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px
  }

  .AppFooter_columnLogo__A2HNE {
    grid-column: span 3;
    margin-bottom: 1.5rem
  }
}

@media screen and (max-width: 576px) {
  .AppFooter_grid__wyHZb {
    display: block
  }

  .AppFooter_columnTitle__mwXYN {
    margin: 2rem 0 .7rem;
    padding-bottom: .4rem;
    border-bottom: 1px solid var(--c-gray-border-lighter)
  }
}

.AppFooter_column__3glqt {
  font-size: .88rem
}

.AppFooter_column__3glqt li {
  margin: .6rem 0
}

.AppFooter_column__3glqt li a:hover {
  text-decoration: underline
}

.AppFooter_columnTitle__mwXYN {
  margin-bottom: .5rem;
  font-size: 1.15em
}


/*--about--*/
.flex_container_outline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_content {
  width: 30vw;
  max-width: 200px;
  padding: 5vw;
}

.container_content h2 {
  text-align: left;
}

#container_text {}

#container_image {}